<style>

h3{
color: green;
text-transform: uppercase;

}
.field{
color: green;
text-transform: capitalize;
font-size: 20px;

}
.form-area{
	margin-top: 50px;
}
[type=text],[type=password] {
    border: 1px solid #d2ad6c;
    color: #b1b1b1;
    padding: 10px 15px;
    width: 25%;
}
[type=submit] {
    background-color: #d2ad6c;
	border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-left: -3px;
    padding: 11px 30px;
    text-transform: uppercase;
}
[type=submit]:hover{
	background-color: black;
	color: white;
}
</style>